.Home{
    text-align: center;
    background-color: #fff;
    position: relative;
}

.discription{
    font-size: small;
    margin: 1.5rem 0 0.5rem 0;
    color:rgb(99, 99, 99);
    font-weight: 500;
}