.left{
    width: 1rem;
    background-color: #990000;
}
 
.day{
    width: 19.1%;
    text-align: center;
    background-color: #990000;
    color: #fff;
}

.day_outer{
    width: auto;
    background-color: blueviolet;
}