.Table{
    background-color: aquamarine;
    text-align: center;
}

.Table > table{
    margin: 0 auto;
    width: 100%;
}

.table_outer{
  display: inline-block;
  text-align: left;
}

@media screen and (max-width: 767px) {
    .Table > table{
    }
  }