.Data{

}

.button {
    background-color: #fff;
    border: 2px solid ;
    color: #333;
    padding: 0.5rem 3rem;
    margin: 1rem;
    overflow: hidden;
    border-radius: 3px;
  }
  .button:hover {
    color: #fff;
    background: #990000;
  }